header h1{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#sentenceText{
    text-align: center;
    font-weight: 900;
    font-size: 2em;
}

input{
    text-align: center;
}


.players{
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.playerCard{
    min-height: 20vh;
    width: 15vw;
    border-radius: 3px;
    border-width: 3px;
    padding: 1px;
    text-align: center;
    margin-right:4px;
    margin-bottom: 10px;
    display: none;
}

.playerCard input{
    width: 90%;
    margin: 5px auto;
}

.giveButton{
    width:90%;
    height:50px;
    background-color:ivory;
    margin:5px auto;

}

.giveButton:active{
    background-color: beige;
}


.p0{
    background-color: lightgreen;
}

.p1{
    background-color: lightsalmon;
}

.p2{
    background-color: lightskyblue;
}

.p3{
    background-color:lemonchiffon;
}

.p4{
    background-color:lightsteelblue;
}

.p5{
    background-color:lightslategray;
}

.p6{
    background-color:lightpink;
}

.p7{
    background-color:lightgoldenrodyellow;
}

.scoreSpan{
    vertical-align: middle;
}

.playerImg{
    width: 80%;
    margin: auto;
}

.buttonDiv{
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
}

#nextButton{
    min-height: 20px;
}

#preGameDiv{
    text-align: center;
    margin-bottom: 10px;
}

#preGameDiv img{
    display: block;
    margin: auto;
    width: 40%;
    max-height: 80vh;
}

#playerNo{
    margin-left: 5px;
    width: 20px;
}

#postGame{
    display: none;
}